.App {
width: 40%;
height: 50vh;
margin: 0 auto;
background-color: black;
padding: 10px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.App button{
  width: 30%;
  height: 30%;
  position: relative;
  
}


.azul {
  background-color: blue;
}
.rojo {
  background-color: red;
}
